<script text="text/javascript">
  var _learnq = _learnq || []

  var klaviyoProduct = {
    Name: {{ product.title | json }},
    ProductID: {{ product.id | json }},
    Categories: {{ product.collections | map: 'title' | json }},
    ImageURL: "https:{{ product.featured_image.src | img_url: 'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor | json }},
    Price: {{ product.price | money | remove: '<span class=money>' | remove: '</span>' | json }},
    CompareAtPrice: {{ product.compare_at_price_max | money | remove: '<span class=money>' | remove: '</span>' | json }},
  }

  _learnq.push(['track', 'Viewed Product', klaviyoProduct])
  _learnq.push(['trackViewedItem', {
    Title: klaviyoProduct.Name,
    ItemId: klaviyoProduct.ProductID,
    Categories: klaviyoProduct.Categories,
    ImageUrl: klaviyoProduct.ImageURL,
    Url: klaviyoProduct.URL,
    Metadata: {
      Brand: klaviyoProduct.Brand,
      Price: klaviyoProduct.Price,
      CompareAtPrice: klaviyoProduct.CompareAtPrice,
    },
  }])

  Array.from(document.querySelectorAll('[product="add-to-cart"]')).forEach(function(btn) {
    btn.addEventListener('click', function() {
 		  _learnq.push(['track', 'Added to Cart', klaviyoProduct])
    })
  })
</script>