{% if _.p_feat_gal_1-title %}
  <div class="product-section-feature-gallery section-grey flex-xl items-center">
    <div class="w-50-l w-100">
      <div class="product-feature-gallery-images">
        {% for i in (1..3) %}
          {% assign feat_item_title = 'p_feat_gal_#-title' | replace: '#', i %}
          {% assign feat_item_image = 'p_feat_gal_#-image' | replace: '#', i %}
          {% assign feat_item_video = 'p_feat_gal_#-video' | replace: '#', i %}

          {% if _[feat_item_title] %}
            {% if _[feat_item_video] %}
              <video src="{{ _[feat_item_video] | file_url }}" autoplay loop muted playsinline product-feature-gallery="video"></video>
            {% else %}
              <img {% if forloop.first %}src{% else %}class="product-image__slide" data-flickity-lazyload{% endif %}="{{ images[_[feat_item_image]] | img_url: '720x' }}" alt="">
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="w-50-l w-100 ph5-l dib">
      <div class="product-feature-gallery-text pa3">
        {% for i in (1..3) %}
          {% assign feat_item_title = 'p_feat_gal_#-title' | replace: '#', i %}
          {% assign feat_item_subtitle = 'p_feat_gal_#-subtitle' | replace: '#', i %}

          {% if _[feat_item_title] %}
            <div class="product-feature-gallery-text__cell pl1-l {% if forloop.first %}is-nav-selected{% endif %}" data-index="{{ forloop.index0 }}">
              <h3 class="h1">{{ _[feat_item_title] }}</h3>
              <h4 class="h3">{{ _[feat_item_subtitle] }}</h4>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
